<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/ef29d1f433.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    {{! Navbar }}
    <nav>
      <div class="menu-icon" id="#mobile-menu">
        <span class="fas fa-bars"></span>
        <!-- <div class="dropdown">
            <ul>
              <li><a href="">All Inventory</a></li>
              <li><a href="">Electronics</a></li>
              <li><a href="">Jewelery</a></li>
              <li><a href="">Men's Clothing</a></li>
              <li><a href="">Women's Clothing</a></li>
            </ul>
        </div> -->
      </div>
      <div class="logo">StockHome.</div>
      <div class="nav-items" id="nav-menu">
        <li><a href="/stockhome/inventories/">All Inventory</a></li>
        <li><a
            href="/stockhome/inventories/categories/electronics"
          >Electronics</a></li>
        <li><a
            href="/stockhome/inventories/categories/jewelery"
          >Jewelery</a></li>
        <li><a href="/stockhome/inventories/categories/men's%20clothing">Men's
            Clothing</a></li>
        <li><a
            href="/stockhome/inventories/categories/women's%20clothing"
          >Women's Clothing</a></li>
      </div>
      <div class="search-icon">
        <span class="fas fa-search"></span>
      </div>
      <div class="cancel-icon">
        <span class="fas fa-times"></span>
      </div>
      <div class="cta-container">
        <div class="cta">
          <form action="">
            <button type="submit" class="fas fa-search"></button>
            <input
              type="search"
              class="search-data"
              placeholder="Search Items"
              required
            />
          </form>
        </div>
        <button class="add-item"><a href="/stockhome/add-inventory-form">Add Item</a></button>
      </div>
    </nav>

    {{{body}}}
    <script src="/script.js"></script>
  </body>
</html>