<div class="card">
  <img src={{inventory.image}} alt="" />
  <span class="item-name">
    <h2>{{inventory.name}}</h2>
  </span>
  <br />
  <span class="item-price">
    <h3>{{inventory.price}}</h3>
  </span>
  <br />
  <span class="item-description">
    <h3>{{inventory.description}}</h3>
  </span>
  <br />
  <a class="button" href="/stockhome/inventories/">View All Inventory</a>
</div>