/* General CSS */
:root {
  --darkgray: #212329;
  --brightred: #f9423d;
  --white: rgb(243, 245, 241);
  --lightred: #f9433dcc;
  --lightgray: rgb(219, 218, 218);
  --darkpurple: rgb(43, 18, 102);
  --neongreen: #006400;
  --darkgreen: #1a444f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

body {
  background-color: #1a444f;
}

/* Navbar */
nav {
  background: var(--white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 60px;
}

nav .logo {
  color: var(--darkpurple);
  font-size: 22px;
  font-weight: 800;
  letter-spacing: -1.3px;
  text-decoration: overline;
  cursor: pointer;
}

nav .nav-items li {
  padding: 0 16px;
}

nav .nav-items li a {
  color: var(--darkgray);
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

nav .nav-items li a:hover {
  color: rgb(85, 122, 9);
}

nav .cta {
  display: flex;
  height: 40px;
  text-align: center;
}

.cta-container {
  display: flex;
}

nav .add-item {
  display: inline;
  margin: 0 5px;
  width: 6rem;
  height: 37px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #356e5d;
  align-items: center;
  justify-content: center;
  padding-bottom: 4px;
  border: none;
  border-radius: 40px;
}

nav .add-item a {
  color: var(--lightgray);
  text-decoration: none;
}

nav .cta form {
  display: flex;
  height: 37px;
  width: 9rem;
  border-radius: 40px;
  padding: 0px;
  display: flex;
  background: none;
  min-width: 10% !important;
  border: 0.5px solid var(--neongreen);
}

nav .cta form .search-data {
  width: 100%;
  padding: 0 0px;
  color: var(--darkgray);
  background: none;
  outline: none;
  border: none;
  border-radius: 40px;
}

nav .cta form button {
  padding: 0 15px;
  border-radius: 100px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: var(--neongreen);
}

nav .menu-icon,
nav .search-icon,
nav .cancel-icon {
  width: 40px;
  color: var(--neongreen);
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  cursor: pointer;
  display: none;
}

nav .menu-icon span,
nav .search-icon span,
nav .cancel-icon span {
  display: none;
}

nav .nav-items {
  display: flex;
  flex: 1;
  list-style: none;
  padding: 0 0 0 40px;
}

/* Page container */
#page-container {
  position: relative;
  min-height: 100%;
}

/* Footer */
#footer {
  position: relative;
  bottom: 0;
  background: #76d988;
  height: 100px;
  width: 100vw;
  margin-top: 120px;
  color: #444;
}

/* Container */
.plainbackground {
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 4rem 5rem;
  height: auto;
  align-content: center;
}

.container h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: var(--lightgray);
  padding-bottom: 40px;
}

.container .card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 20px;
}

/* .inventory {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 350px;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
} */

.inventory img {
  width: 250px;
  border-radius: 20px;
}

.block {
  display: block;
  flex-direction: column;
  width: 30vw;
  float: left;
}

.inventory span h1,
.inventory span h2,
.inventory span h3 {
  color: #62d495;
  font-weight: 600;
}

/* Inventory detail page */
.item-container {
  border: 1px solid red;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-card {
  width: 375px;
  height: 90%;
  background: hsl(244, 38%, 16%);
  border-radius: 5px;
  text-align: center;
}

.img-section {
  height: 40%;
  width: 100%;
  background: linear-gradient(rgb(45, 0, 128), rgb(42, 75, 55));
  background-size: cover;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.img-section img {
  height: 100%;
  width: 100%;
  padding: 0.2rem;
  object-fit: cover;
}

.info {
  color: var(--white);
}

.info span h2 {
  font-size: 1.5rem;
  color: whitesmoke;
  padding: 2rem 1rem;
  letter-spacing: -1px;
}

.item-overview button {
  cursor: pointer;
  width: 2.5rem;
  font-size: 1.7rem;
  margin: 0 0.8rem;
  padding: 0.4rem;
  background: var(--darkgreen);
  border: none;
  color: var(--lightgray);
  border-radius: 8px;
  /* align-content: ; */
}

.item-overview p {
  font-size: 1rem;
  padding: 1rem 3.5rem;
}

.item-overview {
  padding: 1.5rem;
}

.item-container .view-all {
  display: inline;
  margin: 1rem 5px;
  width: 10rem;
  height: 37px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #fafafa;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 40px;
}

.item-container .view-all a {
  color: var(--darkpurple);
  text-decoration: none;
}

/* display none */
.display-none {
  display: none;
}

/* Responsive CSS */
@media (min-width: 1140px) {
  .item-card {
    height: 25rem;
    width: 60rem;
    display: flex;
    flex-direction: row-reverse;
  }

  .img-section {
    background-size: cover;
    height: 100%;
    width: 80%;
  }

  .info {
    text-align: left;
    padding: 1rem;
  }

  .overviews {
    height: 60%;
    /* border-bottom: 1px solid yellowgreen;
    border-top: 1px solid yellowgreen; */
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .item-overview {
    display: inline-block;
    padding: 0 0.5rem;
  }

  .item-overview p {
    font-size: 1rem;
    padding: 1rem 0;
  }
}

@media (max-width: 1245px) {
  /* .item-container {
    display: flex;
    flex-direction: column;
  } */
  nav {
    padding: 0;
    justify-content: center;
  }

  nav .logo {
    flex: 2;
    text-align: center;
    justify-content: center;
    transition: all 0.9s ease-out;
    font-size: 27px;
    margin-left: 20px;
    padding-left: 100px;
  }

  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    height: 100%;
    background: var();
    display: none;
    padding: 10px 50px 0 50px;
    text-align: center;
    transition: all 0.9s ease-in;
    opacity: 1;
  }

  nav .is-active {
    position: absolute;
    z-index: 99;
    top: 70px;
    width: 100%;
    height: 100%;
    background-color: #1a444f;
    display: inline-block;
    padding: 10px 50px 0 50px;
    text-align: center;
    transition: all 0.9s ease-in;
    font-size: 3rem;
  }

  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }

  nav .nav-items li a {
    font-size: 20px;
    color: white;
  }

  nav .cta {
    display: block;
    margin: 0 20px;
  }

  nav .menu-icon span {
    display: block;
  }

  nav .menu-icon {
    display: block;
  }
}
