/* General CSS */
:root {
  --darkgray: #212329;
  --brightred: #f9423d;
  --white: rgb(243, 245, 241);
  --lightred: #f9433dcc;
  --lightgray: rgb(219, 218, 218);
  --darkpurple: rgb(43, 18, 102);
  --neongreen: #006400;
  --darkgreen: #1a444f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

body {
  background-color: #1a444f;
}

/* Navbar */
nav {
  background: var(--white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 40px;
  width: auto;
  transition: all 0.3s ease-out;
}

nav .logo {
  color: var(--darkpurple);
  font-size: 22px;
  font-weight: 800;
  letter-spacing: -1.3px;
  text-decoration: overline;
  cursor: pointer;
}

nav .nav-items li {
  padding: 0 16px;
  transition: all 0.3s ease-out;
}

nav .nav-items {
}

.add-item-list {
  display: none;
}

nav .nav-items li a {
  color: var(--darkgray);
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

nav .nav-items li a:hover {
  color: rgb(85, 122, 9);
  transition: all 0.3s ease-out;
}

nav .cta {
  display: flex;
  height: 40px;
  text-align: center;
}

.cta-container {
  display: flex;
}

nav .add-item {
  display: inline;
  margin: 0 5px;
  width: 6rem;
  height: 37px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #356e5d;
  align-items: center;
  justify-content: center;
  padding-bottom: 4px;
  border: none;
  border-radius: 40px;
}

nav .add-item a {
  color: var(--lightgray);
  text-decoration: none;
}

nav .cta form {
  display: flex;
  height: 37px;
  width: 9rem;
  border-radius: 40px;
  padding: 0px;
  display: flex;
  background: none;
  min-width: 10% !important;
  border: 0.5px solid var(--neongreen);
}

nav .cta form .search-data {
  width: 100%;
  padding: 0 0px;
  color: var(--darkgray);
  background: none;
  outline: none;
  border: none;
  border-radius: 40px;
}

nav .cta form button {
  padding: 0 15px;
  border-radius: 100px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: var(--neongreen);
}

nav .menu-icon {
  width: 20px;
  color: var(--neongreen);
  text-align: start;
  margin: 0 20px;
  font-size: 18px;
  cursor: pointer;
  display: none;
}

nav .menu-icon span,
nav .search-icon span,
nav .cancel-icon span {
  display: none;
}

nav .nav-items {
  display: flex;
  flex: 1;
  list-style: none;
  padding: 0 0 0 40px;
}

/* Page container */
#page-container {
  position: relative;
  min-height: 100%;
}

/* Footer */
#footer {
  position: relative;
  bottom: 0;
  background: #76d988;
  height: 100px;
  min-width: 100vw;
  margin-top: 1px;
  color: #444;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  padding: 70px 0;
}

.line-break {
  border-bottom: 0.2px solid gray;
  width: 80%;
}

footer .footer-info h6,
footer .footer-info a {
  font-weight: 400;
  color: var(--darkgray);
}

footer .footer-info {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .logo {
  padding: 1rem;
  color: var(--darkpurple);
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -1.3px;
  text-decoration: overline;
  cursor: pointer;
}

/* Container */
.plainbackground {
  background-color: var(--white);
}

.container {
  display: grid;
  margin-top: 4rem;
  height: auto;
  align-self: center;
  justify-self: center;
  width: auto;
}

.container h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: var(--lightgray);
  padding-bottom: 40px;
  text-transform: capitalize;
}

.container .card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 20px;
  row-gap: 10px;
  padding-left: 20px;
}

.inventory {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0;
  border-style: solid;
  border-width: 1px; */
}

.inventory img {
  width: 250px;
  border-radius: 20px;
}

.block {
  display: block;
  flex-direction: column;
  width: 30vw;
  float: left;
}

#item-info-block {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

#item-info-block .button {
  color: #96d7c5;
}

/* .inventory span {
  width: 4rem;
}  */

.inventory span h3 {
  color: #96d7c5;
  font-weight: 600;
}

.inventory span h2 {
  color: var(--lightgray);
  font-size: 1.2em;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  line-height: 1.5em; /* a */
  max-height: 3em;
}

/* Inventory detail page */
.item-container {
  height: auto;
  display: flex;
  flex-shrink: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 2rem 0; */
  /* margin-bottom: 20rem; */
  padding: 0 2rem;
}

.item-container h1 {
  padding: 40px;
  margin-top: 60px;
  text-transform: capitalize;
  color: #1a444f;
}

.item-card {
  width: 375px;
  height: 100%;
  border-radius: 20px;
  text-align: center;
  background: #1a444f;
}

.img-section {
  height: 40%;
  width: 100%;
  /* background: linear-gradient(rgb(45, 0, 128), rgb(42, 75, 55)); */
  background-size: cover;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.img-section img {
  height: 100%;
  width: 100%;
  /* padding: 0.2rem; */
  object-fit: cover;
}

.info {
  color: var(--white);
}

.info span h2 {
  font-size: 1.2rem;
  color: whitesmoke;
  padding: 0rem 1rem;
  letter-spacing: -1px;
}
.ctas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ctas div button {
  cursor: pointer;
  width: 2.5rem;
  font-size: 1.7rem;
  margin: 2rem 0.8rem;
  padding: 0.4rem;
  background: #c4c4c4;
  border: none;
  color: black;
  border-radius: 8px;
  box-shadow: 4px 4px 4px gray inset;
  /* align-content: ; */
}

.ctas button a {
  text-decoration: none;
  color: black;
}

.item-overview p {
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  margin: 0 auto;
}

.item-overview h3 {
  color: #d0f9cf;
}

.item-overview {
  padding: 1.5rem;
}

.item-container .view-all {
  display: inline;
  margin: 1rem 5px;
  width: 10rem;
  height: 37px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #356e5d;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 40px;
  border: none;
  transition: all 0.2s ease-out;
}

.item-container .view-all:hover {
  height: 40px;
  font-size: 0.9rem;
  transition: all 0.2s ease-out;
}

.item-container .view-all a {
  color: var(--white);
  text-decoration: none;
}

/* display none */
.display-none {
  display: none;
}

/* Responsive CSS */

/* media query for single-item page */
@media (min-width: 963px) {
  .item-card {
    height: 25rem;
    width: 60rem;
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 30px;
  }

  .img-section {
    height: 100%;
    width: 100%;
    /* background: linear-gradient(rgb(45, 0, 128), rgb(42, 75, 55)); */
    background-size: cover;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .img-section img {
    width: 350px;
    padding: 0.2rem;
    object-fit: cover;
  }

  .info {
    text-align: left;
    padding: 1rem;
  }

  .overviews {
    height: 60%;
    /* border-bottom: 1px solid yellowgreen;
    border-top: 1px solid yellowgreen; */
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .item-overview {
    display: inline-block;
    padding: 0 0.5rem;
  }

  .item-overview p {
    font-size: 1rem;
    padding: 1rem 0;
  }
}

/* media query for main page */
@media (max-width: 1000px) {
  /* .item-container {
    display: flex;
    flex-direction: column;
  } */
  nav {
    padding: 0;
    justify-content: space-between;
    align-content: center;
    flex-shrink: 3;
    width: 100%;
    height: 70px;
  }

  .add-item-list {
    display: block;
  }

  nav .add-item a {
    color: var(--lightgray);
    text-decoration: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container .inventory {
    width: 350px;
    display: inline-block;
    text-align: center;
  }

  nav .logo {
    text-align: center;
    margin-left: 10px;

    /* flex: 2;
    text-align: center;
    justify-content: center;
    transition: all 0.9s ease-out;
    font-size: 30px;
    padding-left: 120px; */
  }

  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    height: 100%;
    background: var();
    display: none;
    padding: 10px 50px 0 50px;
    text-align: center;
    transition: all 0.3s ease-out;
    opacity: 1;
  }

  nav .is-active {
    position: absolute;
    z-index: 99;
    top: 70px;
    width: 100%;
    height: 70%;
    background-color: #1a444f;
    display: inline-block;
    padding: 10px 50px 0 50px;
    text-align: center;
    transition: all 0.9s ease-in;
    font-size: 3rem;
  }

  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }

  nav .nav-items li a {
    font-size: 20px;
    color: white;
  }

  nav .cta {
    display: block;
    margin: 0 20px;
    /* justify-self: flex-end; */
  }

  nav .menu-icon span {
    display: block;
  }

  nav .menu-icon {
    display: block;
    margin-right: 100px;
  }

  .inventory span h3 {
    color: #96d7c5;
    font-weight: 400;
    padding: 0 5px;
  }

  .inventory span h2 {
    color: var(--lightgray);
    font-size: 1em;
    font-weight: 600;
    /* overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  line-height: 1.5em; 
  max-height: 3em; */
  }
}

@media (max-width: 675px) {
  nav .add-item {
    display: none;
  }

  nav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-shrink: 1;
  }

  nav .logo {
    /* padding-right: 400px; */
  }

  nav .menu-icon {
    flex: -1;
    padding-right: 0;
  }

  nav .cta form {
    width: 70px;
  }
}
